In [10]:
def test1(): 
    a = 5 + 6
    return a

In [11]:
test1()

11

In [12]:
def test2(a,b):
    c =  a+b
    return c

In [13]:
test2(9,0)

9

In [14]:
test2(5,7)

12

In [15]:
test2("sanjay","gowda")

'sanjaygowda'

In [16]:
test2(b = "gowda", a = "fought")   # no orders also it will be give

'foughtgowda'

In [17]:
def tets1(*args):  # we can pass multiple arguments
    return args

In [18]:
tets1(1,2,3,4,45,"sanju")

(1, 2, 3, 4, 45, 'sanju')

In [19]:
type(tets1())  # it will check tuple

tuple

In [20]:
tets1([4,5,4,5,4,4],True,(43,5,3,54,3),"sanju")

([4, 5, 4, 5, 4, 4], True, (43, 5, 3, 54, 3), 'sanju')

In [21]:
type(tets1())

tuple

In [22]:
def test(*args):
    return list(args)

In [23]:
test(3,4,32,4,3,4,[3,4,3,4,3],(4,3,45,3,))  # it will returns with list

[3, 4, 32, 4, 3, 4, [3, 4, 3, 4, 3], (4, 3, 45, 3)]

In [24]:
def test(*args):
    return list(args)

In [25]:
test("sanju",[43,5,3,5,3,5,],True,(42,4,2,43,4))

['sanju', [43, 5, 3, 5, 3, 5], True, (42, 4, 2, 43, 4)]

In [26]:
def test(*args):
    l = []
    for i in args:
        l.append(i)
    return l

In [27]:
test(332,4,3,4,3,5,[4,4,3,4,3,43],"sanju")

[332, 4, 3, 4, 3, 5, [4, 4, 3, 4, 3, 43], 'sanju']

In [28]:
def test(*args):   # converts into list
    l1 = []
    for i in args:
        l1.append(i)
    return(l1)

In [29]:
test(4,3,4,32,4,[5,3,54,3,43,4,4],"sanju",(43.43,4,3,4,3))

[4, 3, 4, 32, 4, [5, 3, 54, 3, 43, 4, 4], 'sanju', (43.43, 4, 3, 4, 3)]

In [30]:
test(4,354,3,45,True,[4,2,4,2,4])

[4, 354, 3, 45, True, [4, 2, 4, 2, 4]]

In [31]:
def test(*sanju):   # we can pass n number of inputs or multiple arguments
    l1 = []
    for i in sanju:
        l1.append(i)
    return l1

In [32]:
test(43,4,3,4,3,[43,3,4,3,4],"sanju")

[43, 4, 3, 4, 3, [43, 3, 4, 3, 4], 'sanju']

In [33]:
test(43,4,324,3,4,[43,4,3,4,3],(343,4,3,4,),{"sanju":45,"test":56})

[43, 4, 324, 3, 4, [43, 4, 3, 4, 3], (343, 4, 3, 4), {'sanju': 45, 'test': 56}]

In [34]:
def test(*args):
    return args

In [35]:
test(43,45,3,4,[3,54,3,4,],"sanju")  # it will always returns tuple

(43, 45, 3, 4, [3, 54, 3, 4], 'sanju')

In [36]:
l = [5,3,53,5,3,5]

In [37]:
l[0] = 99

In [38]:
l

[99, 3, 53, 5, 3, 5]

In [39]:
t = (43,5,3,5,3,5,)

In [40]:
t[0] = 90   #tuple is immutablity not an mutability

TypeError: 'tuple' object does not support item assignment

In [41]:
s = {4,32.5,5,54,545,4,444,4,44,444}  # set is an ordered format

In [42]:
s

{4, 5, 32.5, 44, 54, 444, 545}

In [43]:
type(s)

set

In [44]:
s = {4,5,34,5,3}

In [45]:
type(s)

set

In [46]:
d = {}  # If it is empty means it will be dictionary

In [47]:
type(d)

dict

In [48]:
d = {43,5,3,5,5}  # this is the difference

In [49]:
type(d)

set

In [50]:
d = {"key1":80,"key2" : "sanju"}

In [51]:
d

{'key1': 80, 'key2': 'sanju'}

In [52]:
d2 = {654645:"sanju"}   # it will take key wise value as int

In [53]:
d2

{654645: 'sanju'}

In [54]:
d = {$ :"sanju"}

SyntaxError: invalid syntax (186065164.py, line 1)

In [55]:
d = {"sanju":"sanju"}

In [56]:
d

{'sanju': 'sanju'}

In [57]:
d = {[4,3,5,3,45,4]:"sanju"}  # key it will be not permittable

TypeError: unhashable type: 'list'

In [58]:
d = {(3,4,3,4,3,5,3): "sanju"}

In [59]:
d

{(3, 4, 3, 4, 3, 5, 3): 'sanju'}

In [60]:
d = {"name    ":"sanju","name":"gowda","roasd":"int","    name":"rwiewiojeio"}   #If we use duplicate keys itijn will return int0o single

In [61]:
d   # it will be takes latest value of key if its duplicating

{'name    ': 'sanju',
 'name': 'gowda',
 'roasd': 'int',
 '    name': 'rwiewiojeio'}

In [62]:
d = {"name":"sanju","name":"gowda","roasd":"int","name":"rwiewiojeio"}

In [63]:
d   # now there is no space so it will be gives latest record of output

{'name': 'rwiewiojeio', 'roasd': 'int'}

In [64]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"}}  #It will executes key as a dict and values inside the dict

In [65]:
d   # we can create dict inside dict

{'key1': 565874,
 'courses': {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'}}

In [66]:
l = [3,5,3,5,4]

In [67]:
l[1]

5

In [68]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"}} # {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"} complete value assign to key courses

In [69]:
d["key1"]  # We did not pass index type

565874

In [70]:
d["courses"]

{'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'}

In [71]:
d["courses"]["fsds2"]  #we did not get like thisv d[0]  d[1] like index

'sanju2'

In [72]:
d.keys()

dict_keys(['key1', 'courses'])

In [73]:
d.values()

dict_values([565874, {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'}])

In [74]:
d.items()   # Both keys and value pair

dict_items([('key1', 565874), ('courses', {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'})])

In [75]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"}}

In [76]:
list(d["courses"].values())

['sanju', 'sanju1', 'sanju2']

In [77]:
list(d["courses"].keys())

['fsds', 'fsds1', 'fsds2']

In [78]:
tuple(d["courses"].keys())

('fsds', 'fsds1', 'fsds2')

In [79]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"}}

In [80]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i]))

In [81]:
l

[['fsds', 'fsds1', 'fsds2']]

In [82]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i]))

In [83]:
l

[['fsds', 'fsds1', 'fsds2']]

In [84]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i].values()))

In [85]:
l

[['sanju', 'sanju1', 'sanju2']]

In [86]:
l = []
for i in d.keys():
    l.append(list(d[i].values()))

AttributeError: 'int' object has no attribute 'values'

In [87]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"}}  #[[]] only values

In [88]:
l = []
for i in d.keys():
    if type(d[i])  == dict:
        l.append(list(d[i].values()))

In [89]:
l

[['sanju', 'sanju1', 'sanju2']]

In [90]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d.keys()))

In [91]:
l

[['key1', 'courses']]

In [92]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"}}

In [93]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i].items()))

In [94]:
l

[[('fsds', 'sanju'), ('fsds1', 'sanju1'), ('fsds2', 'sanju2')]]

In [95]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"}}

In [96]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i].values()))

In [97]:
l

[['sanju', 'sanju1', 'sanju2']]

In [98]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i].values()))

In [99]:
l

[['sanju', 'sanju1', 'sanju2']]

In [100]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"}}

In [101]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i].values()))

In [102]:
l

[['sanju', 'sanju1', 'sanju2']]

In [103]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"}}

In [104]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i].values()))

In [105]:
l

[['sanju', 'sanju1', 'sanju2']]

In [106]:
d = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"},"mailid": {"mail1":"sanju@gmail","mail2":"sanju22@gmail","fsds2":"sanju2@gmail.com"}}

In [107]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i].values()))

In [108]:
l

[['sanju', 'sanju1', 'sanju2'],
 ['sanju@gmail', 'sanju22@gmail', 'sanju2@gmail.com']]

In [109]:
def test(d):
    l = []
    for i in d.keys():
        if type(d[i]) == dict:
            l.append(list(d[i].values()))
            return l

In [110]:
test(d)

[['sanju', 'sanju1', 'sanju2']]

In [111]:
test(d)

[['sanju', 'sanju1', 'sanju2']]

In [112]:
d1 = {"key1":565874, "courses": {"fsds":"sanju","fsds1":"sanju1","fsds2":"sanju2"},"mailid": {"mail1":"sanju@gmail","mail2":"sanju22@gmail","fsds2":"sanju2@gmail.com"}}

In [113]:
l = []
for i in d.keys():
    if type(d[i]) == dict:
        l.append(list(d[i]))

In [114]:
l

[['fsds', 'fsds1', 'fsds2'], ['mail1', 'mail2', 'fsds2']]

In [115]:
def test(d):
    l = []
    for i in d.keys():
        if type(d[i]) == dict:
            l.append(list(d[i].values()))
    return l

In [116]:
test(d1)   # some indentation we need to check

[['sanju', 'sanju1', 'sanju2'],
 ['sanju@gmail', 'sanju22@gmail', 'sanju2@gmail.com']]

In [117]:
d1["score"] = {34,3,4,3,5,3,43}   # adding new key value pair

In [118]:
d1

{'key1': 565874,
 'courses': {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'},
 'mailid': {'mail1': 'sanju@gmail',
  'mail2': 'sanju22@gmail',
  'fsds2': 'sanju2@gmail.com'},
 'score': {3, 4, 5, 34, 43}}

In [119]:
d1["marks"] = {45,6,4,6,4,5,}

In [120]:
d1

{'key1': 565874,
 'courses': {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'},
 'mailid': {'mail1': 'sanju@gmail',
  'mail2': 'sanju22@gmail',
  'fsds2': 'sanju2@gmail.com'},
 'score': {3, 4, 5, 34, 43},
 'marks': {4, 5, 6, 45}}

In [121]:
d1['key1'] = 45356346  # updating the exist value because key is an unique

In [122]:
d1

{'key1': 45356346,
 'courses': {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'},
 'mailid': {'mail1': 'sanju@gmail',
  'mail2': 'sanju22@gmail',
  'fsds2': 'sanju2@gmail.com'},
 'score': {3, 4, 5, 34, 43},
 'marks': {4, 5, 6, 45}}

In [123]:
del d   # for deleting entire dictionary

In [124]:
d

NameError: name 'd' is not defined

In [125]:
d1

{'key1': 45356346,
 'courses': {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'},
 'mailid': {'mail1': 'sanju@gmail',
  'mail2': 'sanju22@gmail',
  'fsds2': 'sanju2@gmail.com'},
 'score': {3, 4, 5, 34, 43},
 'marks': {4, 5, 6, 45}}

In [126]:
del d1['key1']  # delete particular key

In [127]:
d1

{'courses': {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'},
 'mailid': {'mail1': 'sanju@gmail',
  'mail2': 'sanju22@gmail',
  'fsds2': 'sanju2@gmail.com'},
 'score': {3, 4, 5, 34, 43},
 'marks': {4, 5, 6, 45}}

In [128]:
d1.pop('score')  # popping of particular keys with value pair

{3, 4, 5, 34, 43}

In [129]:
d1

{'courses': {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'},
 'mailid': {'mail1': 'sanju@gmail',
  'mail2': 'sanju22@gmail',
  'fsds2': 'sanju2@gmail.com'},
 'marks': {4, 5, 6, 45}}

In [130]:
del d1['marks']

In [131]:
d1

{'courses': {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'},
 'mailid': {'mail1': 'sanju@gmail',
  'mail2': 'sanju22@gmail',
  'fsds2': 'sanju2@gmail.com'}}

In [132]:
d1.pop('mailid')

{'mail1': 'sanju@gmail', 'mail2': 'sanju22@gmail', 'fsds2': 'sanju2@gmail.com'}

In [133]:
d1

{'courses': {'fsds': 'sanju', 'fsds1': 'sanju1', 'fsds2': 'sanju2'}}

In [134]:
def test(*sanju):
    l = []
    for i in sanju:
        l.append(i)
    return l

In [135]:
test(34,34,534,5,[353,435,354,345,])

[34, 34, 534, 5, [353, 435, 354, 345]]

In [136]:
test(4,5,34,54,4,)

[4, 5, 34, 54, 4]

In [137]:
def test(*args):
    l = []
    for i in args:
        l.append(i)
    print(l)

In [138]:
test(4,65,43,6,43,54,[54,54,45,5])

[4, 65, 43, 6, 43, 54, [54, 54, 45, 5]]

In [139]:
type(test())   # None

[]

NoneType

In [140]:
def test(*args):   # docstring
    """huighi ugjgiorejgioj"""
    l = []
    for i in args:
        l.append(i)
    return l

In [141]:
test(4,3,53,45,3)

[4, 3, 53, 45, 3]

In [142]:
type(test())

list

In [143]:
def test(**kwargs):   # I pass the key and value pair and return as dict
    return kwargs

In [144]:
test(a = 90,b =80,sanju = 90)   # In kwargs we need to pass like variables and we need to assign the variables = values

{'a': 90, 'b': 80, 'sanju': 90}

In [145]:
type(test())

dict

In [146]:
test(a = 70, sanjuu = 50,b = 40)

{'a': 70, 'sanjuu': 50, 'b': 40}

In [147]:
test(eagle = "sanju",a =90)

{'eagle': 'sanju', 'a': 90}

In [148]:
test(a = "rponf" ,b =90, c = True)

{'a': 'rponf', 'b': 90, 'c': True}

In [149]:
test(a = [5,5,3,5,3,5], b = "sanju")

{'a': [5, 5, 3, 5, 3, 5], 'b': 'sanju'}

In [150]:
type(test())

dict

In [151]:
def test(**kwargs):
    return kwargs

In [152]:
test(56 = "sanju",a =(3,54,3,45))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (559379195.py, line 1)

In [153]:
test(0 == 0,a ="sanju")

TypeError: test() takes 0 positional arguments but 1 was given

In [154]:
test(a = 90,b = "sanju",c = [4,56,43,54])

{'a': 90, 'b': 'sanju', 'c': [4, 56, 43, 54]}

In [155]:
def test(a = 90):
    return a
def test1(b):
    return b
    
def test2(func):
    return func("sanju")

In [156]:
test2(test)  # returns with sanju

'sanju'

In [157]:
test1(test())

90

In [158]:
test2(test1)

'sanju'

In [159]:
def test(a = 90):
    return a
def test1(b):
    return "boo"
    
def test2(func):
    return func("sanju")

In [160]:
test2(test1)

'boo'

In [161]:
def test(a = 90):
    return a
def test1(*args):
    return "boo"
    
def test2(func):
    return func("sanju")

In [162]:
test2(test1)

'boo'

In [163]:
def test1(a):  # global
    print("sanju")
    
    def test12():   # local
        print("rodo")
        
    def test13():   # local
        print("loo")
    
    if a == "sanju":
        return test12()
    elif a == "gowda":
        return test13()

In [164]:
test1("sanju")  # If we call function inside a functionn also only giving return which we call

sanju
rodo

In [165]:
test1("gowda")  # If we call functiin inside function also it will return

sanju
loo

In [166]:
def test11():  # global 
    def test12(): # local
        print("this is message of test")
    return test12()

In [167]:
test11()

this is message of test

In [168]:
@test15   # decorator
def test14(*args):
    print("Hello")

NameError: name 'test15' is not defined

In [169]:
def test15(func):
    def test16():
        print("rounding")
        func()
    return test16()

In [170]:
test15(test14)

NameError: name 'test14' is not defined

In [171]:
def test11(func):  # global 
    def test12(): # local
        print("this is message of test")
    return test12()

In [172]:
test11(test15)

this is message of test

In [173]:
test11(test14)

NameError: name 'test14' is not defined

In [174]:
def test15():
    def test16():
        print("rounding")
        func()
    return test16()

In [175]:
test15()

rounding

NameError: name 'func' is not defined

In [176]:
def test15(func):  # DECORATOR IS MAINLY ADDING NEW FUNCTIONS TO AN EXISTING OBJECT WITHOUT CHANGING THE STRUCTURE
    def test16():
        print("rounding")
        func()
    return test16

In [177]:
test15(test14)

NameError: name 'test14' is not defined

In [178]:
def test1(func):
    def test2():
        print("Decorator")
        func()
    return test2()

In [179]:
def test20():
    print("Hello")

In [180]:
test1(test20)

Decorator
Hello

In [181]:
import os   # WE called cuurent working directory is here but this function only we can call in test20(), it will prints in next function this is called Decorator

def test1(func):
    def test2():
        print("Decorator")
        func()
        print(os.getcwd())   
    return test2   # Important ()

In [182]:
@test1    # MULTIPLE DECORATORS
@test15
def test22():
    print("koo")

In [183]:
test22()

Decorator
rounding
koo
C:\Users\bhavi\PythonFull

In [184]:
def test11(func):
    def test12(a = 90,b = 10):
        func()
        print(a+b)
    return test12  # 'NoneType' object is not callable

In [185]:
@test1  # Multiple Decorator
@test11
def test13():
    print("HIIII")

In [186]:
test13()

Decorator
HIIII
100
C:\Users\bhavi\PythonFull

In [187]:
#  write the function to execute the time for function
import time

start = time.time()
print("Hello")
time.sleep(9)
end = time.time()
print(end - start)

Hello
9.004634618759155

In [188]:
time.time()

1668482987.751697

In [189]:
import time
def test(func):
    def test34():
        print("this is execution of time")
        start = time.time()
        func()
        print(func())
        time.sleep(9)
        end = time.time()
        print(end - start)
    return test34

In [190]:
@test
def test12():
    l = [2,3,2,4,2,4]
    l1 = []
    for i in l:
        if type(i)  == int:
            l1.append(i)
    return l1

In [191]:
test12()

this is execution of time
[2, 3, 2, 4, 2, 4]
9.015176773071289

In [192]:
@test
def test23(a = 90,b =90):
    return a + b

In [193]:
test23()

this is execution of time
180
9.009939432144165

In [194]:
time.time()

1668483005.8866901

In [3]:
amazon = [("watch", 5000),("phone",10000),("laptop",50000),("shirt",1000)]  # i [0]  i [1]

In [ ]:
a = input("enter items")
b = int(input("enter no of quantary"))
for i in amazon:
    if i[0] == a:
        price = b * i[1]
        print(price)
        break
    elif i[0] != 0:
        print("item not available")

In [4]:
l_item = []
l_price = []
for i, j in amazon:
    l_item.append(i)
    l_price.append(i)

In [5]:
l_item

['watch', 'phone', 'laptop', 'shirt']

In [6]:
l_price

['watch', 'phone', 'laptop', 'shirt']

In [ ]:
price = 0
while True:
    a = input("enter items")
    b = int(input("enter no of quantary"))
    if a in l_item:
        print("calculate the price")
for i in amazon:
    if i[0] == a:
        price = price +  b * i[1]
        print(price)
    else:
        break
    print(price)

In [22]:
def test(fun):
    def test1():
        print("start of function")
      
        print("function is executed")
        fun()
        print(fun())
        return(fun())
    return test1

In [23]:
@test   # Decorator execute by adding new functionality to existing object without changing structure
def test2():
    return 5+6

In [24]:
test2()

start of function
function is executed
11

11

In [25]:
type(test2())

start of function
function is executed
11

int

In [26]:
test(test2())

start of function
function is executed
11

In [27]:
def test(fun):
    def test1():
        print("start of function")
      
        print("function is executed")
        fun()
        #print(fun())  just check by commenting
        print(fun())
    return test1

In [2]:
@test
def testing():
    return 5+90

In [3]:
testing() +90

start of function
function is executed
95

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [4]:
type(testing())

start of function
function is executed
95

NoneType

In [5]:
def testing():
    return 5+90

In [6]:
type(testing())

int

In [ ]:
testing() + 79

In [7]:
def test(fun):
    def test1():
        print("start of function")
      
        print("function is executed")
        fun()
        #print(fun())  just check by commenting
        print(fun())
        return(fun())   # To return as Datatype without NONETYPE RETURN(FUN())
    return test1

In [8]:
@test
def testing():
    return 55+90

In [9]:
testing()

start of function
function is executed
145

145

In [10]:
type(testing())  # Now we ARE getting primitive datatype rather than NONE

start of function
function is executed
145

int

In [11]:
testing() + 90    # Wrapper   # Return

start of function
function is executed
145

235

In [1]:
print(90)

90

In [44]:

def sanju(func):
    def test2():
        print(45+90)
        func()
        print(func())
        return(func())
    return test2()

In [45]:
@sanju
def testing33():
    return 4+4   # 8

135
8

In [46]:
type(testing33)

int

In [69]:
def test4(func):
    def test5():
        print("this is the messsage")
        func()
        print(func())
        return(func())
    return test5()

In [70]:
@test4
def tet():
    return 5+5

this is the messsage
10

In [71]:
type(tet)

int

In [132]:
def sanjay(func):
    def tango():
        for i in range(0,9):
            print(i)
        func()
        print(func())
        return(func())
    return tango()

In [133]:
@sanjay
def test90():   # test 90 will move to argument
    return 6+90

0
1
2
3
4
5
6
7
8
96

In [134]:
type(test90)

int

In [167]:
def test55(func):
        def test3(n):
           n =90
    for i in range(0,n):
        for j in range(0,i+1):
             print("@", end = "")
        print("\n")
        func()
        print(func())
        return func()
        return test3()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [149]:
@test55
def tr():
    return 2*2

In [150]:
tr()

TypeError: 'NoneType' object is not callable

In [268]:
def test2(func):
    def test(a,b):
        print("this is message")
        func(a,b)
        print(func(a,b))
        return func(a,b)
    return test

In [269]:
@test2
def tig(a,b):
    return a+b

In [270]:
tig(9,0)

this is message
9

9

In [224]:
tig("sunny","koo")

this is message
sunnykoo

'sunnykoo'

In [250]:
def test2(func):
    def test(*args):
        print("this is message")
        func(*args)
        print(*args)
        return func(*args)
    return test

In [251]:
@test2
def te(a,b):
    return a+b

In [252]:
te("sam","mam")

this is message
sam mam

'sammam'

In [265]:
def test2(func):
    def tr(*args):
        func(*args)
        print(*args)
        print("this is msg")
        return func(*args)
    return tr

In [266]:
@test2
def ty(a,b,c,d):
    return a+b+c+d

In [267]:
ty(8,9,0,80)

8 9 0 80
this is msg

97

In [274]:
def tri(func):
    def rr(a,b):
        func(a,b)
        print("this is messsge")
        print(func(a,b))
    return rr

In [275]:
@tri
def rag(a,b):
    return a+b

In [276]:
rag(8,7)

this is messsge
15

In [295]:
def test3(func):
    def rr(*args):
        func(*args)
        print(*args)
        print("this is message")
        return func(*args)
    return rr

In [296]:
@test3
def tt(a,b):
    return a+b

In [297]:
tt(4,7)

4 7
this is message

11

In [298]:
@test3
def tt1(**kwargs):
    return kwargs

In [299]:
tt1(a = 90,b =80)

TypeError: rr() got an unexpected keyword argument 'a'

In [318]:
def test31(func):
    def rr(*args,**kwargs):
        func(*args,**kwargs)
        print(func(*args,**kwargs))
        print("this is message")
        return func(*args,**kwargs)
    return rr

In [319]:
@test31
def tt1(**kwargs):
    return kwargs

In [320]:
tt1(a = 90,b =80)

{'a': 90, 'b': 80}
this is message

{'a': 90, 'b': 80}

In [322]:
def test22(func): 
    def tight(*args,**kwargs):    # WRAPPER FUNCTIONN WHERE ARGUMENT WILL BE CALLED
        func(*args,**kwargs)
        print("This is message")
        print(func(*args,**kwargs))
        return func(*args,**kwargs)
    return tight()

In [323]:
def tr(*args):
    return args

In [324]:
tr(3,42)  #  *args means returns to tuple

(3, 42)

In [326]:
type(tr())

tuple

In [327]:
def tee(**kwargs):
    return kwargs

In [328]:
tee(a = 90,b =90)    # kwargs returns to an dict

{'a': 90, 'b': 90}

In [329]:
type(tee())

dict

In [330]:
def test(a,b):
    return a*b

In [331]:
test(9,0)

0

In [333]:
lambda a,b : a*b   # simmilar type of signature

In [334]:
test

In [339]:
c = lambda a,b : a+b   # LAMBDA FUNCTION

In [337]:
c(4,6)

24

In [340]:
c("sanju","gowda")

'sanjugowda'

In [341]:
d = lambda a,b,c,d : a*b*c/d

In [342]:
d(4,6,8,5)

38.4

In [343]:
c = lambda  *args : args

In [344]:
c()

()

In [345]:
c(6,764,5)   # It will return in tupples

(6, 764, 5)

In [346]:
c =  lambda **kwargs : kwargs

In [348]:
c(a = 6,b =65)   # It will returns in dict

{'a': 6, 'b': 65}

In [ ]:
#MAP

In [352]:
l = [2,3,2,4,2]
l1 = []
for i in l:
    l1.append(i+10)

In [353]:
l1   # But map will do with simple

[12, 13, 12, 14, 12]

In [361]:
l = [1,2,3,4,5,6]

In [355]:
def test14(fun):   # external
    return fun + 10

In [357]:
list(map(test14,l))   # Commonly formed by map is map is mainly allocating function and itterables which will map one by one elements with functions

[11, 12, 13, 14, 15, 16]

In [358]:
map(test14,l)  # Octadecimal id

In [365]:
l = [1,2,3,4,5,6,7]

In [372]:
list(map(lambda l : l+ 10 , l ) )# l:l+10 function     l = itterable

[11, 12, 13, 14, 15, 16, 17]

In [375]:
list(map(lambda l: l+20,l))

[21, 22, 23, 24, 25, 26, 27]

In [381]:
a = lambda l : l + 10

In [382]:
list(map(a,l))

[11, 12, 13, 14, 15, 16, 17]

In [384]:
a = lambda l : l+10   # one to one mapping

In [386]:
list(map(a,l))

[11, 12, 13, 14, 15, 16, 17]

In [387]:
l = ["sanju","gowda","datascience"]

In [392]:
a = lambda l : l.upper()

In [393]:
list(map(a,l))

['SANJU', 'GOWDA', 'DATASCIENCE']

In [394]:
a = lambda l: l.lower()

In [396]:
list(map(a,l))

['sanju', 'gowda', 'datascience']

In [397]:
a = lambda l:l.title()

In [398]:
list(map(a,l))

['Sanju', 'Gowda', 'Datascience']

In [399]:
l

['sanju', 'gowda', 'datascience']

In [400]:
a = lambda l : len(l)

In [402]:
list(map(a,l))

[5, 5, 11]

In [403]:
l

['sanju', 'gowda', 'datascience']

In [405]:
def test(l):
    return len(l)

In [406]:
list(map(test,l))

[5, 5, 11]

In [407]:
# filter or extract
l = [1,2,3,4,5,6,7,8]
l1 = []
for i in l:
    if i % 2 == 0:
        l1.append(i)

In [408]:
l1

[2, 4, 6, 8]

In [410]:
[i for i in l if i % 2 == 0]  # list comprehension

[2, 4, 6, 8]

In [412]:
a = lambda l : l % 2 == 0

In [414]:
list(filter(a,l))   # instead of map we can replace filter

[2, 4, 6, 8]

In [416]:
list(map(a,l))

[False, True, False, True, False, True, False, True]

In [417]:
l = [1,2,3,5,56,7,87,6,7]

In [418]:
a = lambda l : l % 2 != 0

In [421]:
tuple(filter(a,l))

(1, 3, 5, 7, 87, 7)

In [422]:
l = [3,5,3,56,3,4]

In [423]:
sum(l)

74

In [428]:
# REDUCE - reduces to give particular operation
l = [1,2,4,5,6,5,6,7]   # multiplication
k = lambda a,b : a*b

In [430]:
from functools import reduce

In [432]:
int(reduce(k,l))

50400

In [434]:
m = lambda a,b : a+b

In [435]:
reduce(m,l)

36

In [442]:
n = lambda a,b,c : a*b*c  #missing 1 required positional argument: 'c'

In [443]:
int(reduce(n,l))

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [444]:
n = lambda a,b,c : a+b+c   # ONLY TWO ARGUMENTS should taken

In [445]:
reduce(n,l)

TypeError: <lambda>() missing 1 required positional argument: 'c'

In [447]:
l = [3]
r = lambda a,b : a*b

In [448]:
reduce(r,l)

3

In [449]:
l = [5]

In [450]:
m = lambda a,b : a+b

In [451]:
reduce(m,l)

5

In [456]:
def test(a,b) -> int:     # SHIFT TAB FOR SEEING SIGNATURE AND DOCSTRING
    """ By using this function we are adding"""
    print(a+b)

In [457]:
test(3,8)  # -> THIS IS HINT TO WE NEED TO INPUT ONLY INT

11

In [467]:
def test(a : int,b: "func",c:int =90) -> int:     # SHIFT TAB FOR SEEING SIGNATURE AND DOCSTRING
    """ By using this function we are adding"""
    print(a+b+str(c))

In [466]:
test("sudh","ooo")  # its only indication to hint to pass integer strictly to next users but it will not giving approximate result

sudhooo90