# **Variable Case Sensitivity**

In [ ]:
TEN = 10
ten =50

In [ ]:
print(ten)

50

In [ ]:
print(Ten)

NameError: ignored

# Reserved words in Python

In [ ]:
print("Hi there!!")

Hi there!!

In [ ]:
print = "Hi there Sanju!!" # as a variable
type(print)

str

In [ ]:
del print

In [ ]:
print("Hi there")

Hi there

# Multi assignment Variables

In [ ]:
a ,b ,c = 21, 22, "Sanju"
type(a)

int

In [ ]:
type("""c
     """)

str

In [ ]:
a , b , c =50

TypeError: ignored

In [ ]:
type(a,b)

TypeError: ignored

In [ ]:
print(type(a))
print(type(b))

<class 'int'>
<class 'int'>

In [ ]:
type(a)
type(b)

int

In [ ]:
a = b =c = 80

In [ ]:
print(a,b,c)

80 80 80

In [ ]:
a , b ,c

(80, 80, 80)

In [1]:
firstName, MiddleName, LastName = "Sanjay","Gowda", "A"

In [2]:
print(f"{firstName}.{MiddleName}@gmail.com")

Sanjay.Gowda@gmail.com

In [15]:
Name, Age, Birth, weight = "Sanju" , "22" , "22/01/2000" , "70"

In [16]:
print(f"""My name is: {Name}
      My age: {Age}
      My Birth: {Birth}
      My weight: {weight}
""")

My name is: Sanju
      My age: 22
      My Birth: 22/01/2000
      My weight: 70

# USER INPUT METHOD

In [ ]:
name = input(" Enter your Name: ")
print(f"you have entered: {name}")

 Enter your Name: Sanjay
you have entered: Sanjay

In [ ]:
A = input(" Enter a value of A: ")
B = input(" Enter a value of B: ")

print(f"The Sum of two numbers A and B is: {A+B}  ")

 Enter a value of A: 2
 Enter a value of B: 3
The Sum of two numbers A and B is: 23

In [18]:
name = input("Name is: ")
place = input("place is: ")
dateofbirth = int(input("dateofbirth is: "))
age = 2022 - dateofbirth

print(f""" My name is: {name},
           My place is: {place},
           My dateofbirth is: {dateofbirth},
           My age is: {age}""")

Name is: Sanju
place is: smg
dateofbirth is: 2000
 My name is: Sanju,
           My place is: smg,
           My dateofbirth is: 2000,
           My age is: 22

In [19]:
name = input("Name is: ")
place = input("place is: ")
dateofbirth = input("dateofbirth is: ")
age = 2022 - int(dateofbirth)

print(f""" My name is: {name},
           My place is: {place},
           My dateofbirth is: {dateofbirth},
           My age is: {age}""")

Name is: Sanju
place is: smg
dateofbirth is: 2000
 My name is: Sanju,
           My place is: smg,
           My dateofbirth is: 2000,
           My age is: 22

In [20]:
name = input("Name is: ")
place = input("place is: ")
dateofbirth = input("dateofbirth is: ")
currentyear = input("currentyear is: ")
age = int(currentyear) - int(dateofbirth)

print(f""" My name is: {name},
           My place is: {place},
           My dateofbirth is: {dateofbirth},
           My age is: {age}""")

Name is: sanju
place is: smg
dateofbirth is: 2000
currentyear is: 2022
 My name is: sanju,
           My place is: smg,
           My dateofbirth is: 2000,
           My age is: 22

# Type Conversion or Type Casting

In [ ]:
A = int(input("Enter a value of A: "))
B = int(input("Enter a value of B: "))

print(type(A),type(B))

Enter a value of A: 234
Enter a value of B: 66
<class 'int'> <class 'int'>

In [ ]:
print(f"The sum of A and B is {A+B}")

The sum of A and B is 300

In [ ]:
A = float(input("The value of A is : "))
B = int(input("The value of B is: "))

print(f"The sum of both A and B is: {A*B}")

The value of A is : 45.99
The value of B is: 70
The sum of both A and B is: 3219.3

# Convert one data type to another data type by allowed variables

In [3]:
# String to integer
A = "50"
print(f"before the value of {type(A)} , the value of A is{A}")
A = int(A)

print(f"after the value of {type(A)} , the value of A is{A}")

before the value of <class 'str'> , the value of A is50
after the value of <class 'int'> , the value of A is50

In [4]:
#float to integer
A = 55.9
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = int(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'float'> , the value of A is55.9
The value after takes as <class 'int'>, the value of A is55

In [5]:
# Inside string we are passing Float means it will be through error

In [6]:
#Integer to Float
A = 55
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = float(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'int'> , the value of A is55
The value after takes as <class 'float'>, the value of A is55.0

In [7]:
#integer to boolean
A = 3
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = bool(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'int'> , the value of A is3
The value after takes as <class 'bool'>, the value of A isTrue

In [8]:
#integer to boolean
A = 0
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = bool(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'int'> , the value of A is0
The value after takes as <class 'bool'>, the value of A isFalse

In [9]:
#integer to boolean
A = -88
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = bool(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'int'> , the value of A is-88
The value after takes as <class 'bool'>, the value of A isTrue

In [10]:
#string to boolean
A = "Sanjay"
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = bool(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'str'> , the value of A isSanjay
The value after takes as <class 'bool'>, the value of A isTrue

In [11]:
#string to boolean
A = "False"
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = bool(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'str'> , the value of A isFalse
The value after takes as <class 'bool'>, the value of A isTrue

In [12]:
#string to boolean
A = "True"
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = bool(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'str'> , the value of A isTrue
The value after takes as <class 'bool'>, the value of A isTrue

In [13]:
#string to boolean
A = ""
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = bool(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'str'> , the value of A is
The value after takes as <class 'bool'>, the value of A isFalse

In [14]:
#string to boolean
A = ""
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = int(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'str'> , the value of A is

ValueError: ignored

In [21]:
#string to boolean
A = "  "
print(f"The value before takes as {type(A)} , the value of A is{A}")
A = bool(A)
print(f"The value after takes as {type(A)}, the value of A is{A}")

The value before takes as <class 'str'> , the value of A is
The value after takes as <class 'bool'>, the value of A isTrue

# MEMORY BLOCK

In [22]:
a = 22
b = 34
c = 22

In [23]:
id(a)

11123264

In [24]:
id(b)

11123648

In [25]:
id(c)

11123264

In [28]:
a = 22
b = 34
c = 22.0
print(id(a),id(b),id(c))

11123264 11123648 140174638733808

In [27]:
id(a)

140174638733968